li.sep { margin: 0px 7.5px 0px 7.5px; }
li.sep:before { content: "|"; color: #777; }

ul { list-style: none; }
ul.ucp {
	text-align: center;
}

ul.ucp li {
	font: 13px Verdana, 'Lucida Grande';
	cursor: pointer;
	-webkit-transition: padding .05s linear;
	-moz-transition: padding .05s linear;
	-ms-transition: padding .05s linear;
	-o-transition: padding .05s linear;
	transition: padding .05s linear;
}
ul.ucp li.drop {
	position: relative;
}
ul.ucp > li {
	display: inline-block;
	position: relative;
}
ul.ucp li a {
	line-height: 20px;
	padding: 0 20px;
	height: 20px;
	color: #777;
	-webkit-transition: all .1s ease-out;
	-moz-transition: all .1s ease-out;
	-ms-transition: all .1s ease-out;
	-o-transition: all .1s ease-out;
	transition: all .1s ease-out;
}

ul.ucp li span { color: #777; transition: .25s ease-out; }
ul.ucp li span:hover { color: #fff; }

.dropOut .triangle {
	width: 0;
	height: 0;
	position: absolute;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid #ccc;
	top: -7px;
	left: 50%;
	margin-left: -8px;
}
.dropdownContain {
	width: 160px;
	position: absolute;
	z-index: 2;
	left: 50%;
	margin-left: -80px; /* half of width */
	top: -400px;
	margin-top: -45px;
	height: 50px;
}
.dropOut {
	width: 160px;
	background: #ccc;
	float: left;
	position: relative;
	margin-top: 0px;
	opacity: 0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	
	-webkit-transition: all .25s ease-out;
	-moz-transition: all .25s ease-out;
	-ms-transition: all .25s ease-out;
	-o-transition: all .25s ease-out;
	transition: all .25s ease-out;
}

.dropOut ul {
	float: left;
	padding: 10px 0;
}
.dropOut ul li {
	text-align: left;
	float: left;
	width: 145px;
	padding: 12px 0 10px 15px;
	color: #777;
	-webkit-transition: background .25s ease-out;
	-moz-transition: background .25s ease-out;
	-ms-transition: background .25s ease-out;
	-o-transition: background .25s ease-out;
	transition: background .25s ease-out;
	text-indent: -12.5px;
}
ul.ucp .dropOut ul li a { position: relative; display: block; width: 100%; }

.dropOut ul li:hover {
	background: #000;
	color: #fff;
}
ul.ucp li:hover a { color: white; }
ul.ucp li:hover .dropdownContain { top: 65px; }
ul.ucp li:hover .underline { border-bottom-color: #777; }
ul.ucp li:hover .dropOut { opacity: 1; margin-top: 8px; }
ul.ucp .dropOut ul li span:hover { color: #777; }